.ant-drawer {
  .ant-drawer-wrapper-body {
    .ant-drawer-header, .ant-drawer-body {
      background-color: #080a13;
      padding-left: 0;
      padding-right: 0;
    }

    .ant-drawer-header {
      padding-left: 12px;
    } 
  }
}