.carousel-root {
  width: 100%;
  .carousel.carousel-slider {
    z-index: 0;
    .control-dots {
      .dot {
        width: 38px;
        height: 4px;
        border-radius: 2px;
        background: #4b4b4b;
        box-shadow: none;
        &.selected {
          background: #d6d6d6;
        }
      }
    }
  }
}
