.contact-conatainer {
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #171616;
  }

  .hint {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #ff9839;
  }

  .information {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    /* text-1 */

    color: #272525;
  }
}
