@media screen and (min-width: 1920px) {
    .btn-action{
        margin-top: 23px;
    }
}

@media screen and (max-width: 1843px) {
    .btn-action{
        margin-top: 23px;
    }
}

@media screen and (max-width: 1638.22px) {
    .btn-action{
        margin-top: 23px;
    }
}

@media screen and (max-width: 1474.40px) {
    .btn-action{
        margin-top: 23px;
    }

}

.btn-action {
    padding-right: 5px;
    padding-left: 15px;
}
