.table-list-user {
  // .rdt_TableRow {
  //   padding: 0.7rem 1.5rem 0.7rem 0rem !important;
  // }

  .sc-fzpjYC {
    .name,
    .phone,
    .gender {
      // font-family: Montserrat, Helvetica, Arial, serif !important;
      font-weight: 400 !important;
    }
  }

  .name {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
