.header {
  @media (max-width: 1300px) {
    display: none;
  }

  .anticon-shopping-cart {
    padding: 6px !important;
    svg {
      fill: white;
      font-size: 33px;
    }
  }

  .cursor-pointer {
    cursor: pointer;
    color: #ffffff;
    .anticon-user {
      svg {
        fill: #fff;
      }
    }
  }

  .anticon-bell {
    svg {
      fill: white;
      margin-top: 17px;
      font-size: 25px;
    }
  }
  //  .search:hover .search_input {
  //   visibility: visible;
  //   .search_input .ico {
  //     top: 24px;
  //     right: 25px;
  //     font-size: 23px;
  //   }
  // }
  #landing-top-bar {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    // border-bottom: 1px solid rgba(45, 46, 63, 1);
    position: fixed;
    z-index: 1000000;
    top: 42px;
    background-color: #e42c2c;
    background-image: linear-gradient(#037ddc, #0010c2);
    .menu-item {
      display: flex;
      align-items: center;
      padding: 26px 26px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff !important;
      cursor: pointer;

      &.active {
        //color: rgba(92, 154, 248, 1) !important;
        background-color: #003dd3;
      }
      .text-menu {
        color: #ffffff;
      }
      // .text-language{
      //   color: #ffffff;
      // }
    }

    .ant-select-container {
      display: flex !important;
      align-items: center !important;

      .ant-select-perfix {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 10px;
        top: 0;
        transform: translateY(100%);
        z-index: 2;
      }
    }
  }
}

.relative-mb {
  .anticon svg {
    width: 35px;
    height: 35px;
  }
}

.relative-bell {
  .anticon svg {
    width: 30px;
    height: 35px;
  }
}
.header-mobile {
  background: #fff;
  @media (min-width: 1300px) {
    display: none;
    .ant-dropdown-menu {
      margin-top: -25px;
    }
  }
}

.header-text {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  color: black !important;
}

// .header-launch-button {
//   // margin-left: 9px;
//   // padding: 6px;
//   display: flex;
//   align-items: center;
//   & > div {
//     border-radius: 8px;
//     height: 65%;
//     padding: 2px;
//     // background-image: linear-gradient(
//     //   90.38deg,
//     //   #e47dff 10.31%,
//     //   #27def7 51.67%,
//     //   #4c6ae2 97.5%
//     // );
//     // background-color: white;
//     & > div {
//       height: 100%;
//       width: 100%;
//       padding: 0 14px;
//       border-radius: 8px;
//       display: flex;
//       justify-content: center;
//       align-items: center;

//       & > button {
//         width: 100%;
//         // background: linear-gradient(91.97deg, #5c9af8 25.86%, #d150ff 74.79%);
//         background: rgb(28, 28, 28);
//         border-radius: 8px;
//         font-style: normal;
//         // font-weight: 600;
//         font-size: 14px;
//         // line-height: 17px;
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         background-clip: text;
//       }
//     }
//   }
// }

.header-launch-button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 13px;
  padding: 2px;
  .header-login {
    // background-image: linear-gradient(90.38deg,#e47dff 10.31%,#27def7 51.67%,#4c6ae2 97.5%);
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-image: linear-gradient(#037ddc, #0010c2);
    height: 63%;
    .cursor-pointer {
      height: 100%;
      width: 100%;
      padding: 0 14px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 100%;
        // background: linear-gradient(91.97deg, #5c9af8 25.86%, #d150ff 74.79%);
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        // line-height: 17px;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}

.header-search {
  background: #d8d8d8;
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0px;
  transform: translateY(-100%);
  transition: all 0.5s;
}
.block-search {
  transform: translateY(80px);
  transition: all 0.5s;
}

.landing-header-mobile {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 12px 14px;
  border-bottom: 1px solid #2d2e3f;
  z-index: 10000000;
  top: 80px;
  .content-left {
    cursor: pointer;
    gap: 5px;
    display: flex;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
      fill: #000;
    }
  }

  .header-launch-button-mobile {
    border-radius: 8px;
    border: 1px solid #ccc;
    align-items: center;
    display: flex;
    padding: 2px;
    .login-mobile {
      background-image: linear-gradient(#037ddc, #0010c2);
      border-radius: 8px;
      height: 65%;
      padding: 2px;
      div {
        align-items: center;
        border-radius: 8px;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 5px 13px;
        width: 100%;
        button {
          width: 100%;
          border-radius: 8px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          color: #fff;
          background-clip: text;
        }
      }
    }
  }

  @media (min-width: 1300px) {
    display: none;
  }
}

.landing-wrapper {
  @media screen and (max-width: 992.5px) {
    position: relative;
    .sider {
      width: 280px;
      overflow-x: hidden;
      position: fixed;
      top: 0;
      left: -300px;
      transition: left 0.5s;
      box-shadow: 0 10px 10px gray;
      z-index: 2;
    }
    .sider.active {
      left: 0;
      width: 280px;
    }
  }
}

.landing-footer {
  // background-color: #e42c2c;
  margin-top: 100px;
  background-image: linear-gradient(#037ddc, #0010c2);

  & > div {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 540px 1fr;
  }

  .logo {
    max-width: 170px;
  }

  @media (max-width: 1200px) {
    & > div {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .wapper-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 16px;
      div {
        text-align: center;
      }
    }
  }

  @media (max-width: 750px) {
    // padding-left: 16px;
    // padding-right: 16px;
    .logo {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8px;
    }
    p {
      text-align: center;
    }
  }
}

.copyright {
  text-align: center;
  padding-top: 16px;
  // padding-bottom: 16px;
  // width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  // color: #668fbe;

  span {
    font-size: 12px;
    color: #668fbe;
  }

  &.smaller {
    border-top: none;
    font-size: 15px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    border-radius: 100%;
  }
}

.ant-select-selector {
  background: #ffffff !important;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mobile {
  top: 100px;
}

#hero {
  margin-bottom: 150px;
}

.slider-wrapper {
  img {
    aspect-ratio: 5/2;
  }
  height: auto;
  @media (min-width: 1500px) {
    min-height: 555px;
    * {
      // height: 100%;
    }
  }
}

.ant-dropdown {
  z-index: 10000001;
}

.ant-select-dropdown {
  z-index: 10000001 !important;
}
.text-name {
  padding-top: 7px;
}
@media (max-width: 1350px) {
  .menu-item {
    // padding: 26px 10px !important;
  }
  .product-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .nav-container {
    display: none;
  }
}
.icon-search {
  display: none;
}
@media (max-width: 960px) {
  .form-search {
    display: none;
  }
  .form-search-input {
    width: 100%;
    margin: auto;
    display: flex !important;
    justify-content: center;
    margin-top: 60px;
    input {
      border: none;
      width: 70%;
    }
    button {
      border: none;
    }
  }
  .header-right {
    // margin-right: 30px;
  }
  .user-info {
    img {
      width: 37px !important;
    }
  }
  .icon-search {
    display: block !important;
  }
  .text-name {
    display: none;
  }
  .title-product {
    // margin-left: 40px;
    color: #000;
  }
}
.form-search-input {
  display: none;
}

@media (max-width: 800px) {
  .menu-item {
    // padding: 26px 10px !important;
  }
  .product-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .text-c2i-linear {
    // display: flex;
    width: 100%;
  }
  .select-sort {
    width: 100% !important;
    margin: auto;
  }
  .title-product {
    margin-right: 0px;
    color: #000;
  }
  .text-name {
    display: none;
  }
  .title-product {
    margin-right: 10px;
    color: #000;
  }
}
@media (max-width: 600px) {
  .menu-item {
    // padding: 26px 10px !important;
  }
  .product-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .product-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.bg-box {
  background-color: white !important;
}
.b {
  background-color: #ffffff !important;
}
.a {
  color: #000000 !important;
}
.icon-search {
  svg {
    display: inline-block;
    font-size: 35px;
    fill: #000000;
    // background: #fff;
    border-radius: 50%;
    margin-right: -90px;
    position: fixed;
    top: 33px;
    right: 245px;
    z-index: 10000001;
  }
}
.header-search {
  svg {
    position: fixed;
    font-size: 31px;
    fill: #030303;
    // background: #fff;
    border-radius: 50%;
    margin-right: -201px;
    position: fixed;
    top: 20px;
    right: 218px;
  }
}
.menu-top {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000000;
  ul {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-right: 150px;
    li {
      padding: 0px 20px;
      margin-top: 10px;
      a {
        color: #000000;
        text-decoration: none;
      }
    }
    li:first-child {
      border-right: 1px solid;
    }
    li:last-child {
      border-left: 1px solid;
    }
  }
}
.header__logo {
  img {
    max-width: 190px !important;
    height: 90px;
    background: #ffffff;
    position: absolute;
    left: 113px;
    top: -41px;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 20%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  img:hover {
    cursor: pointer;
  }
}
.ant-dropdown-placement-bottomLeft {
  top: 112px !important;
}
.ant-dropdown-show-arrow {
  top: 95px !important;
}

@media (max-width: 1300px) {
  .ant-dropdown-menu {
    margin-top: -25px;
  }
}
.icon_Cart {
  position: fixed;
  /* left: 10px; */
  right: 27px;
  bottom: 212px;
  // border: 1px solid white;
  background: rgb(3, 122, 220);
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
